body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(assets/images/criss-cross.png) ;
  background-position: center;
  background-size: 100% auto;
  block-size: auto;
 
}

#me a {
  float: right;
  color: white;
  font-size: bold;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

#me a:hover{
  background-color: #ddd;
  color: black;
}

.topnav {
  overflow: hidden;
  background-color: grey;
  border-bottom: 10px solid teal;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: teal;
  color: white;
}

.container {

  margin-top: 10px;
  padding: 50px;
  width: 960px;
  color: black;
  margin: 0 auto;
 
}

header {
  background-color: #1D88E5;
  height: 200px;
  padding: 10px;
  border: 1px solid white;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}
aside {
  float:left;
  background-color: #1D88E5;
  width: 280px;
  height: 400px;
  color: #fff;
  background: #30948D;
  border: 4px solid white;
}

#homeimg {
  width: 200px;
  height: 200px;
  padding: 20px 0;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
main {
  float: left;
  width: 664px;
  height: 400px;
  color: #fff;
  background: #30948D;
  border: 4px solid white;
  
}
h2 {
  padding: 20px 0;
  margin: 10px;
  margin-bottom: 20px;
  font-size: 25px;
  color: black;
  text-align: left;
}

p {
  margin: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: left;
  color: black;

}

footer {
  position: fixed;
  left: 0;
  bottom:0;
  width: 100%;
  margin-top: 50px;
  border-top: 10px solid teal;
  padding: 20px;
  text-align: center;
  clear: both;
  background: grey;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: teal;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(49, 0, 128);
}

#formdiv {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}